<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th>Authors</th>
      <th>Genres</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.name %></td>
        <td><%= article.body %></td>
        <td><%= print_list(article.authors) %></td>
        <td><%= print_list(article.genres) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
