<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Available</th>
      <th>Authors</th>
      <th>Genres</th>
      <th>Publisher</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.available %></td>
        <td><%= print_list(book.authors) %></td>
        <td><%= print_list(book.genres) %></td>
        <td><%= book.publisher %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
